@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-manrope);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 243, 85%, 67%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* card borders */

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 1rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

@layer components {
  .nav-item {
    font-size: 14px;
    font-weight: 500;
  }

  .nav-item img,
  .filter-secondary {
    filter: invert(60%) sepia(3%) saturate(760%) hue-rotate(182deg) brightness(91%) contrast(87%);
  }

  .nav-item:hover img,
  .nav-item.active img,
  .btn-icon:hover img,
  .filter-primary {
    filter: invert(38%) sepia(96%) saturate(1882%) hue-rotate(228deg) brightness(99%) contrast(101%);

  }

  .btn-icon:hover {
    border-radius: 50%;
    background-color: #F7F7F9;
  }

  .card-shadow {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.02);
  }

  .nav-item:hover .nav-item-content,
  .nav-item.active .nav-item-content {
    background: linear-gradient(90deg, #F7F7F9 0%, #FFF 75.5%);
  }

  .nav-item .nav-item-bar {
    display: none;
  }

  .nav-item.active .nav-item-bar {
    display: block;
  }
}

.customShadow {
  box-shadow: 0px 16px 32px 0px #00000005;

}

.shadow2 {
  box-shadow: 0px 4px 50px 0px #00000012;

}

.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}